In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import datetime
import time

In [5]:
# Create Engine
engine = create_engine("sqlite:///DBSqlite/project2_DB.db")
conn = engine.connect()

In [6]:
stock_df = pd.read_sql('select * from sqlite_master where type = "table"', conn)

OperationalError: (sqlite3.OperationalError) database is locked
[SQL: select * from sqlite_master where type = "table"]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
stock_df

In [5]:
stock5yr_df = pd.read_csv("Resources/all_stocks_5yr.csv")
stock5yr_df = stock5yr_df.dropna()
stock5yr_df.head()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [7]:
stock5yr_df.dtypes

date       object
open      float64
high      float64
low       float64
close     float64
volume      int64
Name       object
dtype: object